    <div class="wrapper">
      <header>
        <h3>Ciao!</h3>

        <p>“When you don't create things, you become defined by your tastes rather than ability. Your tastes only narrow & exclude people. So create.”</p>
        <p>― Why The Lucky Stiff</p>

        <br>

  			<a class="btn btn-social-icon btn-github" href="https://github.com/Tsai1993">
  				<i class="fa fa-github"></i>
  			</a>

  			<a class="btn btn-social-icon btn-twitter" href="https://mastodon.xyz/@ciao">
  				<i class="fa fa-twitter"></i>
  			</a>
        <a href="atom.xml"><img src="/images/feedIcon.svg" alt="RSS" height="32" width="32"></a>

      </header>
